[Unit]
Description=TortHub Server Gunicorn Daemon
After=network.target

[Service]
ExecStart=sh launch.sh
WorkingDirectory=/home/pi/TortHub
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
