/* root container */
#root {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

/* video feed */
.video_feed {
  margin: 0 auto;
  margin-top: 1rem;
}

/* hide element */
.hidden {
  display: none !important;
}

/* make element visible */
.visible {
  display: visible !important;
}

/* center spinner */
.spinner-border {
  width: 10vh !important;
  height: 10vh !important;
  margin-top: 40vh;
}

/* light toggle button */
.light-btn {
  margin-top: 1rem;
  width: 10rem;
  max-width: 90%;
}

/* alert */
.alert {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
