/* root container */
#root {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

/* video feed */
.video_feed {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

/* tree animation */
.tree-svg {
  width: 258px;
  height: 258px;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.tree {
  fill: #E73E0D;
}

.circle-mask {
  transform-origin: 50% 90%;
  animation: scale 5s infinite ease-out;
}

@keyframes scale {
  0%, 100% {
    transform: scale(0.0);
  }
  7%, 90% {
    transform: scale(0.4);
  }
  50% {
    transform: scale(1);
  }
}

/* hide element */
.hidden {
  display: none;
}

/* make element visible */
.visible {
  display: visible;
}
